body{
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
strong {
  font-weight: bold;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.vw {
  width: 100%;
  overflow: hidden;
}
* {
  outline: none;
  margin:0;
  padding:0;
  box-sizing: border-box;
}
$gray: #cacaca;
$gray-backg: #ebebeb;
$blue: #0ec0ce;
header {
  background: $gray-backg;
  border-bottom: 1px solid $gray;
  font-size: 24px;
  h1 {
    font-family: 'Indie Flower', cursive;
    padding: 20px;
    color: $blue;
  }
}
main {
  .meeting {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-top: 60px;

  }
  .schedule {
    margin: 30px auto;
    width: 80%;
    border-right: 1px solid $gray;
    border-top: 1px solid $gray;
    .tr {
      display: flex;

      &.active {
        background: $blue;
        color:white;
      }
      .th {
        border-left: 1px solid $gray;
        border-bottom: 1px solid $gray;
        background: $gray-backg;
        padding: 10px;
        &:nth-of-type(1) {
          width: 20%;
        }
        &:nth-of-type(2) {
          width: 20%;
        }
        &:nth-of-type(3) {
          width: 60%;
        }
      }
     .td {
        border-left: 1px solid $gray;
       border-bottom: 1px solid $gray;
       padding: 10px;
       input {
         width: 100%;
         height: 100%;
         border:none;
         &:last-of-type {
           width: 75%;
         }
       }

       .delete, .update {
         float: right;
         padding: 0;
         margin: 0;
         padding-left: 10px;
         cursor: pointer;
         transition: .3s;
         background: none;
         color: black;

       }
       .delete:hover {
         color: red;
         transition: .3s;
       }
       .update:hover {
         color:#00bf00;
         transition: .3s;
       }
       &:nth-of-type(1) {
         width: 20%;
       }
       &:nth-of-type(2) {
         width: 20%;
       }
       &:nth-of-type(3) {
         width: 60%;
       }
      }
    }
    .tr.edit {
      border: 2px solid #22d702;
      .td {
        border: none;
        box-shadow: 0px 0px 0px 1px #22d702;
      }

    }
  }
  button {
    display: block;
    padding: 10px 20px;
    background: $blue;
    border: none;
    font-size: 20px;
    color: white;
    margin: 20px auto;

  }
  .add-form {
    max-width: 400px;
    margin: 20px auto;
    input {
      width:49%;
      display: inline-block;
      padding: 10px;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      &:last-of-type {
        float: right;
      }
    }
    textarea {
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      height: 100px;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
    }
  }
}