<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily schedule</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto:400,500,700" rel="stylesheet">

    <link rel="icon" href="images/favicon.ico">
    <link href="css/css-bundle.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>

    <!--<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>-->
    <!--<script>-->
    <!--// Initialize Firebase-->
    <!--var config = {-->
    <!--apiKey: "AIzaSyDWuSq3p5C_8XVOSJr6xeBWIbO6x0byqAY",-->
    <!--authDomain: "articles-cdc1a.firebaseapp.com",-->
    <!--databaseURL: "https://articles-cdc1a.firebaseio.com",-->
    <!--projectId: "articles-cdc1a",-->
    <!--storageBucket: "articles-cdc1a.appspot.com",-->
    <!--messagingSenderId: "204849781599"-->
    <!--};-->
    <!--firebase.initializeApp(config);-->
    <!--</script>-->
    <script src="https://use.fontawesome.com/e7b5a02103.js"></script>
    <script src="js/common.js"></script>

</head>

<body ng-app="scheduleApp" ng-controller="scheduleController">

<header>
    <h1>Daily schedule</h1>
</header>

<main>
    <span class="meeting">Hello dear {{autorizationName}}! Your schedule for today:</span>

    <div class="schedule">
        <div class="tr">
            <div class="th">Start time</div>
            <div class="th">End time</div>
            <div class="th">Description</div>
        </div>
        <tr-action action="action" schedule="schedule" ng-repeat="action in schedule track by action.id"></tr-action>
    </div>

    <button ng-click="showAddForm = !showAddForm">Add an action</button>
    <form novalidate class="add-form" id="addForm" ng-show="showAddForm">
        <!--ng-submit="addArticle(name, quote)"-->

        <input ng-model="formInfo.StartTime" type="time" name="StartTime" placeholder="StartTime">
        <input ng-model="formInfo.EndTime" type="time" name="EndTime" placeholder="EndTime">
        <textarea type="text" ng-model="formInfo.Description" placeholder="Description" name="Description"></textarea>
        <button type="submit" ng-click="addAction()">Submit</button>
    </form>


</main>

<footer></footer>


<script src="js/jquery-2.2.3.min.js"></script>
<!--<script src="js/common.js"></script>-->
</body>

</html>

<!--<tr ng-repeat="action in schedule">-->
<!--<td>{{action.StartTime}}</td>-->
<!--<td>{{action.EndTime}}</td>-->
<!--<td>{{action.Description}}-->
<!--<button class="delete" ng-click="deleteAction()"><i class="fa fa-trash" aria-hidden="true"></i></button>-->
<!--<button class="update" ng-click="showAddForm = !showAddForm"><i class="fa fa-pencil" aria-hidden="true"></i></button>-->
<!--</td>-->

<!--</tr>-->